/*
Pale Gold #C0B283
Silk #DCD0C0
Paper #F4F4F4
Charcoal #373737
*/

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  font-size: 32px;
  background-color: white;
}

a {
  color: black;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(172,57,57,1);
  padding:15px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.4s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  color: black;
  font-size: 0.8em;
}

ul {
  margin-left: 5%;
  font-size: 0.8em;
}

section a,
section p,
section ul,
section h1,
section h2,
section h3,
section h4,
section h5 {
  padding: 0 3% 0 3%;
}


.shipping {
	font-size: .8em;
}

.order-coffee {
	color: black;
	text-decoration: underline;
	background: none;
	padding: 0;
	display: inline;
	text-align: left;
	transition: none;
	font-weight: normal;
}

img {
  width: 100%;
  max-width: 800px;
	border: 4px solid #373737;
  display: block;   /* Centers images */
  margin: 0 auto;   /* Centers images */
}

.aTitleShading:hover {   /* Adjusts hover shading for section titles */
  background:rgba(0,0,0,0.3);
  transition:all 0.5s;
}

.toggleNav {
  display: none;
}

footer {
  margin: 0;
  padding: 0;
}

footer a {
  font-size: .6em;
  color: black;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding:8px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer a:hover {
  background:none;
}

.footerText {
  text-align: center;
  font-size: .6em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding:0 10% 0 10%;
}

/* header image / logo image */
.headerImage {
  display: flex;
  flex: 1;
  justify-content: center;
}
/* header image / logo image */
.headerImageProps {
  width: 100%;
	height: 100%;
	margin: 5px;
  border: 0px;
  padding: 5% 5% 5% 5% ;
}

/* small car at end of section */
.carImage {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}
/* small car at end of section */
.carProps {
  width: 25%;
	height: 25%;
	margin: 0px;
  border: 0px;
  padding: 0% 0% 1% 0% ;
}

.roasting-types {
  margin: 0px 20px 0 20px;
}

.contact {
  padding: 20px 0 0 0;
}

.coffee-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;  /* This is default anyway */
  align-items: center;
  padding-bottom: 20px;
}

.coffee-box img {
  max-width: 100%;
  padding: 0% 0% 0% 0%;
}

.coffee-box {
  align-items: center;
  padding: 2px 2px 2px 2px;
}

/* Contact Me Form Here */

.form-row {
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row textarea {
  font-size: 14px;
  border: 1px solid #373737;
  border-radius: 3px;
  max-height: 100px;
  margin-bottom: 10px;
  padding: 7px;
  resize: horizontal;
}

input[type=text],
input[type=email],
textarea {
  width: 40%;
  font-size: .7em;
  padding: 4px 4px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
}

textarea {
  width: 40%;
  font-size: .7em;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='contact-memo'] {
  background-color: #FFFFFF;
  border: 1px solid #373737;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 10px;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row textarea:focus {
  background-color: #F4F4F4;
}

.form-row input[type='text']:invalid, .form-row input[type='email']:invalid {
  border: 1px solid #373737;
  color: #D55C5F;
}

.contact-memo {
  border: 1px solid #373737;
}

.form-row button {
  font-size: .8em;
  color: #000000;
  background-color: #b2b2b2;
  border: none;
  border-radius: 5px;
  padding: 10px 60px;
  cursor: pointer;
}

.submit-align {
  margin-left: 60px;
}

.form-row button:hover {
  background-color: #8e8e8e;
}

/* Flex Box Starts Here! */
/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

/* Flex Item */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}

/*Media Queries Begin here*/
@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 50%;
  }
}

@media all and (max-width:500px) {

  .flex-nav li {
    flex-basis:100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  input[type=text],
  textarea {
    width: 100%;
    resize: none;
  }

  input[type=text],
  input[type=email],
  textarea {
    margin: 0px 0 0 0;
  }

  .form-row {
    margin-bottom: 10px;
  }

  .submit-button {
    width: 100%;
  }

  /* Reorder items, everything in the wrapper is order 99 */
  .wrapper > * {
    order:99;
  }

  /* Nav is now position 1 */
  .flex-nav {
    order:1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
    .flex-nav ul.open{
      display: flex;
    }
}

@media only screen and (min-width: 500px) {
  .coffee-container {
    flex-flow: row nowrap;
  }

  .coffee-box img {
    width: 100%;
    padding: 0;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    /* margin-bottom: 20px; */
  }
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row textarea {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    /* margin-top: 7px; */
    padding-right: 20px;
  }
  
  .form-row button {
    margin: 0px 10% 0 10%;
  }
}
