/*
Pale Gold #C0B283
Silk #DCD0C0
Paper #F4F4F4
Charcoal #373737
*/

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  font-size: 32px;
  background-image: linear-gradient(260deg, #C0B283 0%, #DCD0C0 100%);
}

a {
  color:#F4F4F4;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:15px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.4s;
}

a:hover {
  background:#373737;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  color: #373737
}

img {
  width: 100%;
  max-width: 800px;
	border: 4px solid #373737;
  display: block;   /* Centers images */
  margin: 0 auto;   /* Centers images */
}

.aTitleShading:hover {   /* Adjusts hover shading for section titles */
  background:rgba(0,0,0,0.3);
  transition:all 0.5s;
}

.toggleNav {
  display: none;
}

.footerText {
  text-align: center;
  font-size: .6em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding:30px;
}

/* coffee/beans/other misc images */
.flexImages {
  margin: 0px 0px 20px 0px;
  display:flex;
  flex-wrap: wrap;
}
/* coffee/beans/other misc images */
.decorativeImages {
	flex: 1;
	width: 30%;
	height: 30%;
	margin: 1px;
}

/* header image / logo image */
.headerImage {
  display: flex;
  flex: 1;
  justify-content: center;
}
/* header image / logo image */
.headerImageProps {
  width: 100%;
	height: 100%;
	margin: 5px;
  border: 0px;
  padding: 5% 5% 5% 5% ;
}

/* small car at end of section */
.carImage {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}
/* small car at end of section */
.carProps {
  width: 25%;
	height: 25%;
	margin: 0px;
  border: 0px;
  padding: 0% 0% 1% 0% ;
}

/* Flex Box Starts Here! */
/* Flex Container */
.flex-nav ul {
  border:1px solid #373737;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

/* Flex Item */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}

@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 50%;
  }
}

@media all and (max-width:500px) {

  .flex-nav li {
    flex-basis:100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Reorder items, everything in the wrapper is order 99 */
  .wrapper > * {
    order:99;
  }

  /* Nav is now position 1 */
  .flex-nav {
    order:1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
    .flex-nav ul.open{
      display: flex;
    }
}
