/*
Pale Gold #C0B283
Silk #DCD0C0
Paper #F4F4F4
Charcoal #373737
*/

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  font-size: 32px;
  background-image: linear-gradient(260deg, #C0B283 0%, #DCD0C0 100%);
}

a {
  color:#F4F4F4;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:15px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.4s;
}

a:hover {
  background:#373737;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  color: #373737
}

img {
  width: 100%;
  max-width: 800px;
	border: 4px solid #373737;
  display: block;   /* Centers images */
  margin: 0 auto;   /* Centers images */
}

.aTitleShading:hover {   /* Adjusts hover shading for section titles */
  background:rgba(0,0,0,0.3);
  transition:all 0.5s;
}

.toggleNav {
  display: none;
}

.footerText {
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}

.flexImages {
  margin: 0px 0px 20px 0px;
  display:flex;
  flex-wrap: wrap;
}

.decorativeImages {
	flex: 1;
	width: 30%;
	height: 30%;
	margin: 1px;
}


/* Style the Image Used to Trigger the Modal */
#baliBeans {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#baliBeans:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}




/* Flex Box Starts Here! */
/* Flex Container */
.flex-nav ul {
  border:1px solid #373737;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

/* Flex Item */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}

@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 50%;
  }
}

@media all and (max-width:500px) {

  .flex-nav li {
    flex-basis:100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Reorder items, everything in the wrapper is order 99 */
  .wrapper > * {
    order:99;
  }

  /* Nav is now position 1 */
  .flex-nav {
    order:1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
    .flex-nav ul.open{
      display: flex;
    }
}
